<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>스터디 공고 글 작성페이지</h1>
<form action="/member/study/add" method="post" >
  <label for="title">
    <p>타이틀 : <input type="text" id="title" name="title"></p>
  </label>
  <label for="category">
    <p>category : <input type="text" id="category" name="category"></p>
  </label>
  <label for="subCategory">
    <p>subCategory : <input type="text" id="subCategory" name="subCategory"></p>
  </label>
  <label for="keyword">
    <p>keyword : <input type="text" id="keyword" name="keyword"></p>
  </label>
  <label for="description">
    <p>description : <input type="text" id="description" name="description"></p>
  </label>
  <label for="dueDt">
    <p>dueDt : <input type="text" id="dueDt" name="dueDt" placeholder=" ex) 2023-03-31 "></p>
  </label>
  <label for="numPeople">
    <p>참여인원 : <input type="text" id="numPeople" name="numPeople"></p>
  </label>
  <input type="submit" value="등록하기">
</form>
</body>
</html>